body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  .section {
    margin-bottom: 20px;
    page-break-inside: avoid;
  }
  

  .profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .project-card {
    width: 250px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
  
  .project-card:hover {
    transform: scale(1.03);
  }
  
  .project-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  .project-description {
    padding: 15px;
    font-size: 0.95rem;
    color: #333;
  }
  
  
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .header p {
    color: #777;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    border-bottom: 2px solid #007acc;
    padding-bottom: 5px;
    color: #007acc;
  }
  
  .btn-download {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    display: block;
    margin: 20px auto 0;
    transition: background 0.3s;
  }
  
  .btn-download:hover {
    background-color: #005fa3;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }
  